@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family:'Inter';
    color: #293264;
}

html

input[type="button"]{
    cursor: pointer;
}

input[type="button"]:active {
    transform: translateY(5%);
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 3px);
    background: #F5F7FB;
    position: relative;
    z-index: 0;
}

.top-img {
    position: absolute;
    width: 297px;
    height: 235px;
    top: 0;
    right: 0;
}

.bottom-img {
    position: absolute;
    width: 297px;
    height: 235px;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.welcome {
    display: grid;
    z-index: 2;
    grid-template: repeat(7, 1fr) / 1fr 3fr;
    justify-items: center;
    align-items: center;
    width: 700px;
    gap: 10px;
}

.welcome > h3 {
    grid-column: 1 / -1;
    font-family: 'Karla';
    font-weight: 600;
    font-size: 50px;
}

.welcome > p {
    grid-column: 1 / -1;
    font-weight: 400;
    font-size: 20px;
}

.welcome > label {
    justify-self: start;
    font-size: 20px;
    font-weight: 600;
}

.welcome > select {
    justify-self: stretch;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.095);
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 200;
    font-size: 16px;
    padding-left: 20px;
}

.welcome > select > option {
    font-weight: 200;
    font-size: 16px;
}

.welcome > input {
    grid-column: 1 / -1;
    grid-row: -2 / -1;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 22px;
    color: #F5F7FB;
    background: #4D5B9E;
    border-radius: 10px;
    border: none;
}


/* ******************************************* */

.main {
    width: 800px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz {
    border-bottom: 0.1rem solid #e2e2e2;;
    padding: 20px 20px 20px 0px;
}

.question {
    font-size: 18px;
    font-weight: 600;
}

.option-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
}

.option-btn {
    font-size: 14px;
    font-weight: 200;
    background-color: #F5F7FB;
    border: 1px solid #acb3ce;
    border-radius: 9px;
    padding: 2px 13px;
}

.hover-btn:hover {
    background-color: #e7e8eb;
}

.seletected-btn{
    border: none;
    transform: scale(105%);
    background-color: #d6dbf5;
}

input.disable-btn {
    cursor: not-allowed;
}

.no-effect-btn {
    opacity: 0.5;
} 

input.no-effect-btn:active {
    transform: translateY(0);
}

.correct-btn{
    border: none;
    background-color: #94d7a2;
    opacity: 1;
}

.worng-btn{
    border: none;
    background-color: #F8BCBC;
    opacity: .6;  
}

.total-txt{
    align-self: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
}

.submit-btn{
    align-self: center;
    margin-top: 20px;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 22px;
    color: #F5F7FB;
    background: #4D5B9E;
    border-radius: 10px;
    border: none;
}